<div class="container">
  <h3>Skills</h3>
  <div class="container">
    <h4>Programming Languages</h4>
    <span class="badge-pill badge-primary skill-badge">C</span>
    <span class="badge-pill badge-primary skill-badge">C#</span>
    <span class="badge-pill badge-primary skill-badge">Java</span>
    <span class="badge-pill badge-primary skill-badge">Python</span>
    <span class="badge-pill badge-primary skill-badge">SQL</span>
  </div>

  <div class="container">
    <h4>Technologies</h4>
    <span class="badge-pill badge-primary skill-badge">Android</span>
    <span class="badge-pill badge-primary skill-badge">HTML</span>
    <span class="badge-pill badge-primary skill-badge">CSS</span>
    <span class="badge-pill badge-primary skill-badge">JavaScript</span>
    <span class="badge-pill badge-primary skill-badge">Angular</span>
    <span class="badge-pill badge-primary skill-badge">Bootstrap</span>
  </div>

  <div class="container">
    <h4>Other unnecessary information</h4>
    <span class="badge-pill badge-primary skill-badge">dergs</span>
    <span class="badge-pill badge-primary skill-badge">hungry</span>
    <span class="badge-pill badge-primary skill-badge">stupid</span>
    <span class="badge-pill badge-primary skill-badge">lion</span>
    <span class="badge-pill badge-primary skill-badge">uwu...</span>
  </div>

</div>