<div class="container">
  <h3>Skills</h3>
  <div class="container">
    <h4>Programming Languages</h4>
    <span class="badge-pill badge-primary">C</span>
    <span class="badge-pill badge-primary">C#</span>
    <span class="badge-pill badge-primary">Java</span>
    <span class="badge-pill badge-primary">Python</span>
    <span class="badge-pill badge-primary">SQL</span>
  </div>


  <div class="container">
    <h4>Technologies</h4>
    <span class="badge-pill badge-primary">Android</span>
    <span class="badge-pill badge-primary">HTML</span>
    <span class="badge-pill badge-primary">CSS</span>
    <span class="badge-pill badge-primary">JavaScript</span>
    <span class="badge-pill badge-primary">Angular</span>
    <span class="badge-pill badge-primary">Bootstrap</span>
  </div>


</div>