<h3 id="skills-header">Skills</h3>
<hr>
<div>
  <span class="badge-pill badge-primary skill-badge">C</span>
  <span class="badge-pill badge-primary skill-badge">C#</span>
  <span class="badge-pill badge-primary skill-badge">Java</span>
  <span class="badge-pill badge-primary skill-badge">Python</span>
  <span class="badge-pill badge-primary skill-badge">SQL</span>
  <span class="badge-pill badge-primary skill-badge">Android</span>
  <span class="badge-pill badge-primary skill-badge">HTML</span>
  <span class="badge-pill badge-primary skill-badge">CSS</span>
  <span class="badge-pill badge-primary skill-badge">JavaScript</span>
  <span class="badge-pill badge-primary skill-badge">Angular</span>
  <span class="badge-pill badge-primary skill-badge">Bootstrap</span>
</div>
