<div class="section odd-section">
  <div class="container component-container">
    <app-profile-intro></app-profile-intro>
    <div id="arrow-down"><fa name="arrow-down" size="4x"></fa></div>
  </div>
</div>

<div class="section even-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="container component-container">
          <h3>Work Experience</h3>
          <hr />
          <app-work-experience></app-work-experience>
        </div>
      </div>

      <div class="col-md-4">
        <div class="row">
          <div class="col-12 stacked-col">
            <div class="container component-container">
              <h3>Technical Proficiency</h3>
              <hr />
              <app-skills></app-skills>
            </div>
          </div>

          <div class="col-12">
            <div class="container component-container">
              <h3>Certifications</h3>
              <hr />
              <app-certifications></app-certifications>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section odd-section">
  <div class="container component-container">
    <h3>Education</h3>
    <hr />
    <app-education></app-education>
  </div>
</div>

<div class="section even-section">
  <div class="container component-container">
    <h3>Project Experience and Highlights</h3>
    <hr />
    <app-project-highlights></app-project-highlights>
  </div>
</div>

<router-outlet></router-outlet>
