<nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
</nav>

<div class="section odd-section">
  <div class="container component-container">
    <app-profile-intro></app-profile-intro>
    <div id="arrow-down"><fa name="arrow-down" size="4x"></fa></div>
  </div>
</div>

<div class="section even-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="container component-container">
          <h3>Work Experience</h3>
          <hr />
          <app-work-experience></app-work-experience>
        </div>
      </div>

      <div class="col-md-4">
        <div class="container component-container">
          <app-skills></app-skills>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section odd-section">
  <app-education></app-education>
</div>

<div class="section even-section">
  <app-project-highlights></app-project-highlights>
</div>

<router-outlet></router-outlet>
