<div class="container">

  <h3>Work Experience</h3>

  <accordion>
    <accordion-group heading="Software Engineer Intern - National Computer Systems (NCS)">
      <ul class="list-group">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </accordion-group>
    <accordion-group heading="Another group">
      <p>Some content</p>
    </accordion-group>
    <accordion-group heading="Another group">
      <p>Some content</p>
    </accordion-group>
    <accordion-group heading="Another group">
      <p>Some content</p>
    </accordion-group>
  </accordion>

</div>